.ml-nav {
  background-color: rgb(11 11 14 / 70%);
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.ml-nav .container {
  padding: 0;
  /* padding-top: 20px; */
  height: 100%;
}

.ml-nav .container .row {
  height: 100%;
  align-items: center;
}

.ml-nav .logo img {
  height: 60px;
  width: auto;
}

.ml-nav .ml-nav-col {
  height: 100%;
}

.ml-nav .ml-top-nav {
  height: 100%;
}

.ml-nav .ml-top-nav .navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-left: -20px;
  margin-right: -20px;
  height: 100%;
}

.ml-nav .ml-top-nav .navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(11 11 14 / 0%);
  transition: 0.3s all ease-in-out;
}

.ml-nav .ml-top-nav .navbar-nav > li:hover {
  background-color: rgb(29 11 20 / 100%);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.ml-nav .ml-top-nav .navbar-nav > li.dropdown:hover {
  cursor: crosshair;
}

.ml-nav .ml-top-nav .navbar-nav > li svg {
  margin: 0 auto;
  display: block;
}

.ml-nav .ml-top-nav .navbar-nav > li .nav-description {
  text-align: center;
}

.ml-nav-aside {
  position: absolute;
  top: 50vh;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
}

.ml-nav-aside ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.ml-nav-aside ul li {
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
}

.ml-nav-aside ul li .aside-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b13675;
}

.ml-nav-aside ul li .aside-title {
  position: relative;
  height: 40px;
  padding-left: 20px;
  padding-right: 10px;
  top: 0;
  left: 100%;
  z-index: -1;
  background-color: #b13675;
  display: flex;
  align-items: center;
  transition: .3s all ease-in-out;
}

.ml-nav-aside ul li:hover .aside-title {
  left: 0;
  transition: .3s all ease-in-out;
}

@media (min-width: 1020px) {
  .menu-button,
  .fullpage-wrapper .logo {
    display: none;
  }
}

@media (max-width: 1020px) {
  .ml-nav {
    display: none;
  }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu.sub-one{
    display: none;
    position: absolute;
    top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -20px;
    background-color: rgb(24 31 35 / 70%);
    width: 220px;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item .dropdown-item__arrow {
    position: relative;
    width: 16px;
    height: 1px;
    background-color: #fff;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item .dropdown-item__arrow::after {
    content: '';
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 8px;
    height: 1px;
    background-color: #fff;
    transform: rotate(90deg);
    transition: .3s all ease-in-out;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item:hover .dropdown-item__arrow::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    width: 9px;
    height: 1px;
    background-color: #fff;
    transform: rotate(135deg);
    transition: .3s all ease-in-out;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item .dropdown-item__arrow::before {
    content: '';
    display: block;
    position: absolute;
    right: 4px;
    top: -4px;
    width: 8px;
    height: 1px;
    background-color: #fff;
    transform: rotate(90deg);
    transition: .3s all ease-in-out;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item:hover .dropdown-item__arrow::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: -4px;
    width: 9px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
    transition: .3s all ease-in-out;
  }

  .navbar .nav-item .dropdown-menu.sub-two{
    display: none;
    position: absolute;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: -20px;
    left: 220px;
    padding: 20px;
    background-color: rgb(24 31 35 / 70%);
  }

  /* .navbar .nav-item .dropdown-menu.sub-one > li::after {
    content: "▶";
    position: absolute;
    top: 0;
    right: 20px;
  } */

  .navbar .nav-item .dropdown-menu.sub-one > li::before,
  .navbar .nav-item .dropdown-menu.sub-two > li::before {
    content: "";
    position: absolute;
    width: 0;
    border-bottom: 2px solid #b13675;
    bottom: 5px;
    left: 20px;
    transition: 0.3s all ease-in-out;
  }

  .navbar .nav-item .dropdown-menu.sub-one > li:hover::before,
  .navbar .nav-item .dropdown-menu.sub-two > li:hover::before {
    content: "";
    position: absolute;
    width: 60%;
    border-bottom: 2px solid #b13675;
    bottom: 5px;
    left: 20px;
    transition: 0.3s all ease-in-out;
  }

  .navbar .nav-item .dropdown-menu.sub-one > li,
  .navbar .nav-item .dropdown-menu.sub-two > li {
    line-height: 30px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

	.navbar .nav-item:hover .nav-link{
    color: #fff;
  }
	/* .navbar .nav-item.active .dropdown-menu.sub-one{
    display: block;
  }

  .navbar .nav-item.active .dropdown-menu.sub-one .dropdown-item.active .dropdown-menu.sub-two{
    display: block;
  } */

	.navbar .nav-item:hover .dropdown-menu.sub-one{
    display: block;
  }

  .navbar .nav-item .dropdown-menu.sub-one .dropdown-item:hover .dropdown-menu.sub-two{
    display: block;
  }

	.navbar .nav-item .dropdown-menu.sub-one{
    margin-top:0;
  }
}